.hero-cart {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;

  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 10px;

    mat-card-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
